VITE_API_URL=https://localhost:3000/api/v1
VITE_ITC_BASE_URL=https://staging.vmmaps.com/itc/events
VITE_LIVE_TRAFFIC_BASE_URL=https://admaps.maps42.ae/neapi/events
VITE_ROUTE_BASE_URL=https://staging.vmmaps.com/neapi
VITE_ROUTE_VERSION=/itc
# Superadmin email — this user gets full access (create/edit/delete/block users)
VITE_SUPERADMIN_EMAIL=admin@admaps.com
# Search API
VITE_SEARCH_BASE_URL=https://admaps.maps42.ae/neapi/itc
VITE_SEARCH_ACCESS_TOKEN=eyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ9.eyJfaWQiOiJ1c3ItNzV1bXJpa2k0YjY0c3AiLCJ0aWQiOiJ0a24tNzV1bXJpa2k0Y2RlY3ciLCJpYXQiOjE2MDY3MjgwMDl9.ck77ElEO7VR-yEJ0RrSHMp9OdDPvYUAuQqc-eASNk-sah2TX-Rhjvj71B2aFFlC-
VITE_FIND_WAY_BASE_URL=https://staging.vmmaps.com/neapi/itc